.backgroundImageAnimation {
    animation: background-animate 7.5s ease-in-out infinite;
  }
  
  @keyframes background-animate {
    0% {
      background-position: 0 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0 50%;
    }
  }
  